@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Tailwind base/components/utilities layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Class-based dark mode (toggle a 'dark' class on <html> or <body>) */
:root {
  --color-primary: #5044E5;
}

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}